# @package _global_

defaults:
  - paths: default
  - trainer: default
  - callbacks: default
  - loggers: wandb

  - data: single_task
  - model: single_task

  # Dataset to use for modelling
  - data/dataset/conv_abuse@data
  - _self_

seed: 12345

train: true
test: true
checkpoint_path: null

tags: ["single_task"]

logger:
  wandb:
    tags: ${tags}
